@{
    ViewData["siteName"] = "Alere";
    ViewData["corporation"] = "RANGO-Corp";
}
<!DOCTYPE html>
<html lang="en">

    <partial name="Components/_Head" view-data="ViewData" />

    <body>
        <header>
            <partial name="Components/_Nav" view-data="ViewData" />
        </header>

        <div class="container">
            <main role="main" class="pb-3 w-75 mx-auto">
                @RenderBody()
            </main>
        </div>

        <partial name="Components/_Footer" view-data="ViewData" />
        
        <partial name="Components/_Scripts" />
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
