<div
    class="modal fade"
    id="requisitionFoodModal"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="requisitionFoodModalTitle"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="requisitionFoodModalTitle">Está quase lá</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Para prosseguir com <span id="requisitionFoodModalTextAction"></span> do alimento, é necessário estar conectado a aplicação.</p>
            </div>
            <div class="modal-footer">
                <a asp-action="Register" asp-controller="Login" class="btn btn-secondary">Cadastrar</a>
                <a asp-action="Index" asp-controller="Login" class="btn btn-primary">Acessar</a>
            </div>
        </div>
    </div>
</div>