@{
    ViewData["Title"] = "Cadastro";
}

<form asp-action="Create">
    <partial name="_Form" />

    <div class="d-flex justify-content-between">
        <div class="btn-group">
            <a asp-controller="User" asp-action="Index">Principal</a>
            <button type="submit">Cadastrar</button>
        </div>
    </div>
</form>