<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - @ViewData["siteName"] por @ViewData["corporation"] - 
        <a class="text-decoration-none text-reset" asp-controller="Home" asp-action="Privacy">Política de privacidade</a>
    </div>
</footer>