<meta charset="utf-8" />
<meta 
    name="viewport" 
    content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
/>
<title>@ViewData["Title"] | @ViewData["siteName"]</title>
<!-- Style -->
<link 
    rel="stylesheet" 
    href="~/lib/bootstrap/dist/css/bootstrap.min.css"
/>
<link 
    rel="stylesheet" 
    href="~/css/site.css" 
/>
<link
    rel="stylesheet"
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<!-- Icon -->
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/img/favicon/apple-touch-icon.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/img/favicon/favicon-32x32.png"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/img/favicon/favicon-16x16.png"
/>
<link
    rel="manifest"
    href="/img/favicon/site.webmanifest"
/>
<link
    rel="mask-icon"
    href="/img/favicon/safari-pinned-tab.svg"
    color="#333333"
/>
<link
    rel="shortcut icon"
    href="/img/favicon/favicon.ico"
/>
<link
    rel="icon"
    type="image/svg+xml"
    href="/img/logo.svg"
/>
<meta
    name="apple-mobile-web-app-title"
    content="Alere"
/>
<meta
    name="application-name"
    content="Alere"
/>
<meta
    name="msapplication-TileColor"
    content="#333333"
/>
<meta
    name="msapplication-config"
    content="/img/favicon/browserconfig.xml"
/>
<meta
    name="theme-color"
    content="#ffffff"
/>