@{
    var user = SessionHelper.GetObjectFromSession<User>(Context.Session, SessionKeys.USER_KEY.ToString());
    var hasUser = user != null;
}
<nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
>
    <div class="container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img
                src="~/img/logo.svg"
                alt='@ViewData["siteName"] logo'
                class="logo"
            />
        </a>

        <div class="d-inline-flex order-sm-1 align-items-center">
            <a
                class='btn btn-@(user != null ? "outline-danger" : "primary") me-sm-0 me-4'
                asp-controller="Login"
                asp-action='@(user != null ? "Logout" : "Index")'
            >
                @(user != null ? "Sair" : "Acessar")
            </a>

            <button
                condition="!hasUser"
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target=".navbar-collapse"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Usuários</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-controller="Food" asp-action="Index">Doações</a>
                </li>
            </ul>
        </div>
    </div>
</nav>