@model Food
@{
    var user = SessionHelper.GetObjectFromSession<User>(Context.Session, SessionKeys.USER_KEY.ToString());
}

<div class="d-flex flex-column gap-2 mb-2">
    <input asp-for="FoodId" />
    <input asp-for="@user.UserId" name="UserId" />

    <div class="form-floating">
        <input asp-for="Name" class="form-control" />
        <label asp-for="Name"></label>
    </div>

    <div class="form-floating">
        <input asp-for="Description" class="form-control" />
        <label asp-for="Description"></label>
    </div>

    <div class="row g-0 gap-2 align-items-center">
        <div class="col-12 col-lg-4">
            <div class="form-floating">
                <input asp-for="ManufacturedAt" class="form-control" />
                <label asp-for="ManufacturedAt"></label>
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="form-floating">
                <input asp-for="ExpireAt" class="form-control" />
                <label asp-for="ExpireAt"></label>
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column">
                <div>
                    <input asp-for="IsPerishable" type="radio" value="true" id="true" />
                    <label for="true">Perecível?</label>
                </div>
                <div>
                    <input asp-for="IsPerishable" type="radio" value="false" id="false" />
                    <label for="false">Não Perecível</label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-floating">
        <select
            asp-for="Type"
            asp-items="@Html.GetEnumSelectList<FoodType>()"
            class="form-select"
        >
            <option hidden selected>Selecione o tipo</option>
        </select>
        <label asp-for="Type"></label>
    </div>

    <div class="form-floating">
        <input asp-for="UrlImage" class="form-control" />
        <label asp-for="UrlImage">Informe a url da imagem</label>
    </div>
</div>