<div
    class="modal fade"
    id="requisitionFoodModal"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="requisitionFoodModalTitle"
    aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header">
                <h5 class="modal-title" id="requisitionFoodModalTitle">Solicitar reserva do alimento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="#">
                <input type="hidden" name="FoodId" class="modalFoodItem_Id" />

                <div class="modal-body">
                    <div class="input-group mb-2" data-alere-dynamic-display="true">
                        <span class="input-group-text">Para</span>
                        <span class="form-control modalDonorItem_Name"></span>
                    </div>
                    <div class="form-floating mb-2" data-alere-dynamic-display="true">
                        <textarea
                            class="form-control"
                            placeholder="Digite uma mensagem para o doador"
                            id="requisitionMessage"
                            name="requisitionMessage"
                            style="height: 100px"
                        ></textarea>
                        <label for="requisitionMessage">Mensagem</label>
                    </div>

                    <div class="accordion" id="accordionModalData_FoodDonor">
                        <section class="accordion-item">
                            <h2 class="accordion-header" id="modalAboutFoodSectionLabel">
                                <button
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#modalAboutFoodSection"
                                    aria-expanded="false"
                                    aria-controls="modalAboutFoodSection"
                                >
                                    Informações sobre o alimento
                                </button>
                            </h2>
                            <div
                                id="modalAboutFoodSection"
                                class="accordion-collapse collapse"
                                aria-labelledby="modalAboutFoodSectionLabel"
                                data-bs-parent="#accordionModalData_FoodDonor"
                            >
                                <div class="accordion-body">
                                    <table class="table align-middle table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Alimento</td>
                                                <td class="modalFoodItem_Name"></td>
                                            </tr>
                                            <tr id="modalFoodItem_HasManufacturedDate">
                                                <td>Data de Fabricação</td>
                                                <td class="modalFoodItem_ManufacturedAt"></td>
                                            </tr>
                                            <tr>
                                                <td>Data de Validade</td>
                                                <td class="modalFoodItem_ExpireAt"></td>
                                            </tr>
                                            <tr>
                                                <td>Perecível?</td>
                                                <td class="modalFoodItem_IsPerishable"></td>
                                            </tr>
                                            <tr>
                                                <td>Tipo do alimento</td>
                                                <td class="modalFoodItem_Type"></td>
                                            </tr>
                                            <tr>
                                                <td>Descrição</td>
                                                <td class="modalFoodItem_Description"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>

                        <section class="accordion-item">
                            <h2 class="accordion-header" id="modalAboutDonorSectionLabel">
                                <button
                                    id="requisitionFoodModalDonorText"
                                    class="accordion-button collapsed"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#modalAboutDonorSection"
                                    aria-expanded="false"
                                    aria-controls="modalAboutDonorSection"
                                >
                                    Informações sobre o doador
                                </button>
                            </h2>
                            <div
                                id="modalAboutDonorSection"
                                class="accordion-collapse collapse"
                                aria-labelledby="modalAboutDonorSectionLabel"
                                data-bs-parent="#accordionModalData_FoodDonor"
                            >
                                <div class="accordion-body">
                                    <table class="table align-middle table-bordered">
                                        <tbody>
                                            <tr>
                                                <td>Doador</td>
                                                <td class="modalDonorItem_Name"></td>
                                            </tr>
                                            <tr>
                                                <td>Contato</td>
                                                <td class="modalDonorItem_Contact"></td>
                                            </tr>
                                            <tr>
                                                <td>Localizado em</td>
                                                <td class="modalDonorItem_Location"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="modal-footer justify-content-end">
                    <button
                        type="button"
                        id="requisitionFoodModalCloseText"
                        class="btn btn-outline-danger"
                        data-bs-dismiss="modal"
                    >
                        Cancelar
                    </button>
                    <button type="submit" class="btn btn-primary" data-alere-dynamic-display="true">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>