@{
    ViewData["Title"] = "Atualizar informações";
}
<form asp-action="update">

    <partial name="_Form" />

    <div class="d-flex justify-content-end">
        <div class="btn-group">
            <a asp-action="index" asp-controller="food">Principal</a>
            <button type="submit">
                <span>Atualizar</span>
            </button>
        </div>
    </div>

</form>