@{
    ViewData["Title"] = "Atualizar informações";
    ViewData["FormActionButton.PrimaryActionText"] = "Atualizar";
}

<form asp-action="update">
    <partial name="_Form" />

    <partial
        name="Components/_FormActionButton"
        view-data="ViewData"
    />
</form>