@model RegisterViewModel
@{
    Layout = "_Minimal";
    ViewData["Title"] = "Registro";
}
@section Styles{
    <link
        rel="stylesheet"
        href="~/css/login.css"
    />
}
@section Scripts{
    <script src="~/lib/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script>
        let maskBehavior = (val) => val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
        let maskOptions = {
            onKeyPress: function(val, e, field, options) {
                field.mask(maskBehavior.apply({}, arguments), options);
            }
        };
        $('#user_phone').mask(maskBehavior, maskOptions);
    </script>
}

<main role="main" class="d-flex align-items-center min-vh-100 py-3">
    <div class="container">
        <div class="login-card card rounded-3 shadow-lg overflow-hidden">
            <div class="row gx-0">
                <div class="col-md-7 mx-auto">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img src="~/img/logo.svg" alt="logo" class="logo">
                        </div>
                        <p class="login-card-description">Formulário de registro</p>
                        <form asp-action="register">
                            <div class="">
                                <fieldset>
                                    <caption>
                                        <span class="d-block mb-2">Usuário</span>
                                    </caption>
                                    <div class="mb-3">
                                        <label asp-for="User.Name" class="form-label visually-hidden"></label>
                                        <input asp-for="User.Name" class="form-control" placeholder="Nome" />
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-5">
                                            <label asp-for="User.Phone" class="form-label visually-hidden"></label>
                                            <input
                                                id="user_phone"
                                                asp-for="User.Phone"
                                                class="form-control"
                                                placeholder="Telefone"
                                            />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="User.Email" class="form-label visually-hidden"></label>
                                        <input asp-for="User.Email" class="form-control" placeholder="Email" />
                                        <span asp-validation-for="User.Email" class="text-danger d-block mt-2"></span>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-6">
                                            <label asp-for="Password" class="form-label visually-hidden"></label>
                                            <input asp-for="Password" class="form-control" placeholder="Senha" />
                                            <span asp-validation-for="Password" class="text-danger d-block mt-2"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label asp-for="ConfirmPassword" class="form-label visually-hidden"></label>
                                            <input asp-for="ConfirmPassword" class="form-control" placeholder="Repetir Senha" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger d-block mt-2"></span>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset>
                                    <caption class="mb-2">
                                        <span class="d-block mb-2">Endereço</span>
                                    </caption>
                                    <div class="row mb-3">
                                        <div class="col-md-4">
                                            <label asp-for="User.Address.ZipCode" class="form-label visually-hidden"></label>
                                            <input
                                                asp-for="User.Address.ZipCode"
                                                class="form-control"
                                                placeholder="CEP"
                                                data-mask="00.000-000"
                                            />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-9">
                                            <label asp-for="User.Address.Street" class="form-label visually-hidden"></label>
                                            <input asp-for="User.Address.Street" class="form-control" placeholder="Logradouro" />
                                        </div>
                                        <div class="col-md-3 mt-3 mt-md-0">
                                            <label asp-for="User.Address.Number" class="form-label visually-hidden"></label>
                                            <input asp-for="User.Address.Number" class="form-control" placeholder="Nº" />
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="User.Address.Complement" class="form-label visually-hidden"></label>
                                        <input asp-for="User.Address.Complement" class="form-control" placeholder="Complemento" />
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-9 mb-3">
                                            <label asp-for="User.Address.District" class="form-label visually-hidden"></label>
                                            <input asp-for="User.Address.District" class="form-control" placeholder="Bairro" />
                                        </div>
                                        <div class="col-md-7">
                                            <label asp-for="User.Address.City" class="form-label visually-hidden"></label>
                                            <input asp-for="User.Address.City" class="form-control" placeholder="Cidade" />
                                        </div>
                                        <div class="col-md-5">
                                            <label asp-for="User.Address.State" class="form-label visually-hidden"></label>
                                            <select
                                                asp-for="User.Address.State"
                                                asp-items="Html.GetEnumSelectList<State>()"
                                                class="form-select mt-3 mt-md-0"
                                            ></select>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="d-grid">
                                <input type="submit" class="btn login-btn mb-4" value="Cadastrar" />
                            </div>
                            <p class="login-card-footer-text text-end">
                                Já possui uma conta?
                                <a asp-action="Index" asp-controller="Login" class="text-decoration-none text-reset">Acesse aqui</a>
                            </p>
                        </form>
                        <nav class="login-card-footer-nav">
                            <a href="#!" class="text-decoration-none">Termos de uso.</a>
                            <a class="text-decoration-none" asp-controller="Home" asp-action="Privacy">Política de privacidade</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>