<nav class="login-card-footer-nav">
    <a
        href="#!"
        class="text-decoration-none"
    >Termos de uso.</a>
    <a
        class="text-decoration-none"
        asp-controller="Home"
        asp-action="Privacy"
    >Política de privacidade</a>
</nav>