@model LoginViewModel
@{
    Layout = "_Minimal";
    ViewData["Title"] = "Acessar";
}
@section Styles{
    <link
        rel="stylesheet"
        href="~/css/login.css"
    />
}
<partial name="_AlertWrapper" />

<main role="main" class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="login-card card rounded-3 shadow-lg overflow-hidden">
            <div class="row gx-0">
                <div class="col-md-5 position-relative login-card-img-wrapper">
                    <img
                        src="~/img/donation.svg"
                        alt="Ilustração de um doação de alimentos"
                        class="login-card-img"
                    />
                </div>

                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <img
                                src="~/img/logo.svg"
                                alt='@ViewData["siteName"] logo'
                                class="logo"
                            />
                        </div>
                        <p class="login-card-description">Realize o acesso</p>

                        <form
                            asp-action="Login"
                            asp-controller="Home"
                            method="post"
                        >
                            <div class="mb-3">
                                <label
                                    asp-for="Username"
                                    class="form-label visually-hidden"
                                ></label>
                                <input
                                    asp-for="Username"
                                    class="form-control"
                                    placeholder="Email"
                                />
                                <span
                                    asp-validation-for="Username"
                                    class="d-block text-danger mt-2"
                                ></span>
                            </div>

                            <div class="mb-3">
                                <label
                                    asp-for="Password"
                                    class="form-label visually-hidden"
                                ></label>
                                <input
                                    asp-for="Password"
                                    class="form-control"
                                    placeholder="Senha"
                                />
                                <span
                                    asp-validation-for="Password"
                                    class="d-block text-danger mt-2"
                                ></span>
                            </div>

                            <div class="d-grid">
                                <input
                                    type="submit"
                                    class="btn login-btn mb-4"
                                    value="Acessar"
                                />
                            </div>
                            <p class="login-card-footer-text text-end">
                                Não possui uma conta?
                                <a
                                    asp-action="Register"
                                    asp-controller="Home"
                                    class="text-decoration-none text-reset"
                                >Registre-se aqui</a>
                            </p>
                        </form>

                        <partial name="_AuthFooter" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>